


  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #FFFFFF;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .tab-slider {
    background-color: #FFFFFF;
  }

  .wrapper .page .page-content .tab-menu {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #FFFFFF;
    padding: 0 !important;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15) !important;
  }

  .page-content .tab-menu .swiper-menu {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  }
  .page-content .tab-menu .swiper-menu .nav-menu {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: nowrap;
    flex-direction: row;
    /* padding-bottom: 10px; */
    padding-top: 5px;
  
  }

  .page-content .tab-menu .swiper-menu .nav-menu li.swiper-slide {
    width: 20px;
    padding: 0 15px !important;
    
  }
  .page-content .tab-menu .nav-menu li.swiper-slide a {
    font-size: 15px;
    color: gray;
    font-weight: 600;
    padding: 5px 15px;
  }
  .page-content .tab-menu .swiper-menu .nav-menu li:hover a {
    color: #F3780E;
    font-weight: 700;

  }

  .swiper-details {
    width: 100%;
    /* height: 100%; */
    margin-left: auto;
    margin-right: auto;
    overflow: visible !important;
    background: #FFFFFF !important;

  }
  
  .swiper-details .swiper-wrapper .swiper-slide {
    font-size: 14px;
}

  
  .page-content .swiper-details .swiper-button-next,
  .page-content .swiper-details .swiper-button-prev {
    display: none !important;

  }

  .container {
    background-color: #FFFFFF !important;
  }

  .swiper-details .swiper-wrapper .swiper-slide {
    display: flex;
    background: #FFFFFF !important;
    flex-wrap: wrap;
    font-size: 16px;

  }
  
  .swiper-details {
    height: 100%;
    width: 100%;
  }

  .gallery-thumbs {
    box-sizing: border-box;
    padding: 0 !important;
  }

  .gallery-thumbs .swiper-slide {
    opacity: 1 !important;
    padding: 0 !important;
    padding: 5px 0 !important;
    
  }
  .gallery-thumbs .swiper-slide img {
    height: 100%;
     border-radius: 6px;
  }
  .swipe-slider .swiper-slide {
    padding: 15px 15px 0px 15px;
  }
  .swipe-slider .swiper-slide a img {
     border-radius: 6px;
  }


  .gallery-thumbs .swiper-slide-thumb-active a {
    color: #FF9262 !important;
    border-bottom: 2px solid #F3780E;
  }